[submodule "modules/bootstrap"]
	path = modules/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "lib/jquery"]
	path = lib/jquery
	url = git://github.com/jquery/jquery.git
[submodule "lib/jquery-ui"]
	path = lib/jquery-ui
	url = git://github.com/jquery/jquery-ui.git
[submodule "lib/underscore"]
	path = lib/underscore
	url = git://github.com/documentcloud/underscore.git
[submodule "lib/qunit"]
	path = lib/qunit
	url = git://github.com/jquery/qunit.git
