node_modules
/dist/cowhide.zip
*.swp
pid.txt
*.wgt
*.wgt.gz
examples/calf/lib/images/
examples/calf/lib/cowhide*
examples/hoofbeats/lib/images/
examples/hoofbeats/lib/cowhide*
examples/hoofbeats/lib/ember*
examples/hoofbeats/lib/handlebars*
