#application {
    height: 540px;
    overflow: hidden;
    margin-bottom: 30px;
}

.now-playing {
    position: relative;
}

.now-playing .album-art {
    height: 300px;
    width: 300px;
}

.now-playing .play-controls {
    position: absolute;
    bottom: -20px;
    padding: 10px 0 10px 50px;
    width: 250px;
    background-color: rgba(255,255,255,0.8);
}

.volume-control .volume-sliders {
    padding-top: 30px;
}

.volume-control .volume-sliders .ui-slider-vertical {
    float: right;
    margin-left: 15px;
    margin-right: 15px;
}