<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://otc.intel.com/hoofbeats" version="1.0.0" viewmodes="fullscreen">
    <name>Hoofbeats</name>
    <icon src="icon.png"/>
    <tizen:application id="1234567890" required_version="1.0"/>
    <content src="demos/demo.html"/>
    <access origin="*" subdomains="true"/>

    <feature name="http://tizen.org/privilege/application" required="false"/>
    <feature name="http://tizen.org/privilege/content.read" required="true"/>
    <feature name="http://tizen.org/privilege/tizen" required="true"/>
</widget>
