#application {
    height: 540px;
    overflow: hidden;
    margin-bottom: 30px;
}

.now-playing {
    position: relative;
}

.now-playing .album-art {
    height: 300px;
    width: 300px;
}

.now-playing .play-controls {
    position: absolute;
    bottom: -20px;
    padding: 10px 0 10px 50px;
    width: 250px;
    background-color: rgba(255,255,255,0.8);
}
